*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html
{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    height: 100vh;
    width: 100vw;
    background-image: url(../img/fundo_corinthians.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main h1
{
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

section
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

#formulario
{
    height: 380px;
    width: 40vw;

    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
}

#img
{
    margin: auto;
    width: 50px;
    height: 65px;
    margin-bottom: 10px;
    background-image: url(../img/escudo.png);
    background-size: cover;
}

.campo
{
    margin-bottom: 20px;
}
.campo input
{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

input[type=submit]
{
    display: block;
    width: 100%;
    margin: 25px 0px;

    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition-duration: 0.3s;
}

input[type=submit]:hover
{
    background-color: rgb(49, 49, 49);
    color: white;
}

input[type=button]
{
    display: block;
    width: 100%;
    margin: 20px 0px;

    background-color: rgb(110, 31, 31);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition-duration: 0.3s;
}

input[type=button]:hover
{
    background-color: rgb(255, 0, 0);
}